<div>
    <div class="mb-3">
        <label for="nameId" class="form-label">Username</label>
        <input type="text" class="form-control " [(ngModel)]="data.name">
    </div>
    <div class="mb-3">
        <label for="emailId" class="form-label">EmailID</label>
        <input type="text" class="form-control col-3" [(ngModel)]="data.emailId">
    </div>
    <div class="mb-3">
        <label for="phoneId" class="form-label">PhoneNumber</label>
        <input type="text" class="form-control" [(ngModel)]="data.phonenumber">
    </div>
    <div class="mb-3">
        <label for="passId" class="form-label">Password</label>
        <input type="text" class="form-control" [(ngModel)]="data.password">
    </div>
</div>