
<div id="image" class="container" >
   
    <div class="row" *ngIf="!showform">
      <p>Click To Look into it!...</p>
      <div class="col-lg-2">
        <button class="btn btn-info" (click)="Login()" *ngIf="!showform"> <i class="fa fa-info-circle"></i> | Form</button>
      </div>
     <div class="col-lg-2">
        <button class="btn btn-primary" (click)="Gmail()" *ngIf="!showform"><i class="fa fa-envelope" aria-hidden="true"></i> | Gmail</button>
     </div>
    </div>
    <div *ngIf="showform">
        <router-outlet></router-outlet>
    </div>

</div>



